/* Add any custom styles here */
.rating-stars {
    display: inline-flex;
}

.rating-stars input {
    position: absolute;
    left: -9999px;
}

.rating-stars label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 1.5rem;
}

.rating-stars label:hover,
.rating-stars label:hover ~ label,
.rating-stars input:checked ~ label {
    color: #ffc107;
}

.rating-stars label:hover:before,
.rating-stars label:hover ~ label:before,
.rating-stars input:checked ~ label:before {
    content: "★";
    position: absolute;
    color: #ffc107;
}

/* Updated styles for candidate image container */
.candidate-image-container {
    width: 100%;
    padding-bottom: 100%; /* Creates a square aspect ratio */
    position: relative;
    overflow: hidden;
}

.candidate-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
